<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create employee</title>
</head>
<body>
<th:block th:if="${message}">
    <p th:text="${message}" style="color: yellow"></p>
</th:block>
<a href="/employees">Back to employee list</a>
<h1>Create a new employee</h1>
<form th:action="@{/create-employee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td th:each="p : ${employeeGroups}">

            </td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" th:field="*{name}"></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</td>
        </tr>
        <tr>
            <td>Day of birth</td>
            <td><input type="text" th:field="*{dayOfBirth}"></td>
            <td th:if="${#fields.hasErrors('dayOfBirth')}" th:errors="*{dayOfBirth}">Day of birth error</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="radio" th:field="*{gender}">Male</td>
            <td><input type="radio" th:field="*{gender}">Female</td>
            <td><input type="radio" th:field="*{gender}">Other</td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
            <td th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone error</td>
        </tr>
        <tr>
            <td>Id card</td>
            <td><input type="text" th:field="*{idCard}"></td>
            <td th:if="${#fields.hasErrors('idCard')}" th:errors="*{idCard}">Name error</td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="text" th:field="*{email}"></td>
            <td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" th:field="*{address}"></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">address error</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create"></td>
        </tr>
    </table>
</form>
</body>
</html>