<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee list</title>
</head>
<body>
<h1>Employee List</h1>
<a href="/create-employee">Create a new employee</a>
<form th:action="@{/search}" method="get">
    <input type="search" name="keyword">
    <input type="submit" value="Search">
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Group</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Phone Number</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.id}"></td>
        <th th:text="${employee.employeeGroup.name}"></th>
        <td th:text="${employee.name}"></td>
        <td th:text="${employee.gender}"></td>
        <td th:text="${employee.phoneNumber}"></td>
        <td><a th:href="@{/edit-employee/__${employee.id}__ }">Edit</a></td>
        <td><a th:href="@{/delete-employee/__${employee.id}__ }">Delete</a></td>
    </tr>
</table>
<div>
    <a th:if="${employees.hasPrevious()}" th:href="@{/employees(page=${employees.number - 1})}">Previous</a>
    <span th:text="${employees.number + 1}"></span>/<span th:text="${employees.totalPages}"></span>
    <a th:if="${employees.hasNext()}" th:href="@{/employees(page=${employees.number + 1})}">Next</a>
</div>
</body>
</html>